# Compiled κώδικας (Maven)
target/

# Φάκελοι του IntelliJ (ρυθμίσεις που δεν αφορούν άλλους)
.idea/
*.iml

# Logs και προσωρινά αρχεία
*.log
logs/

# Reports και Screenshots (Δεν τα θέλουμε στο GitHub)
test-output/
evidence/
Reports/
*saucedemo-selenium-java*

# Αρχεία συστήματος (Mac)
.DS_Store